<div id="content" style="background-color:rgb(250, 246, 240)">
  <div id="side-menu" class="links"><br><br>
      <!-- <ul calss="nobullets">
         <li><h1><a routerLink="/details">Employees</a></h1></li><br>
          <li><h1><a routerLink="/projects">Shop Products </a></h1></li><br>
          <li><h1><a routerLink="/content">Departments</a></h1></li><br>
          <li><h1><a routerLink="/locations">Employee Details Page</a></h1></li><br><br>
          <li><h1><a routerLink="/register">Employee Login</a></h1></li><br>
        </ul> -->
    

        <h1 (click)="openEmp()"><img src="/assets/emp.jfif" align="middle" style="max-width:5%;max-height:10%;cursor:pointer;">&nbsp; Employees</h1><br>
        <h1 (click)="openDep()"><img src="/assets/dep.jfif" align="middle" style="max-width:5%;max-height:10%;cursor:pointer; ">&nbsp; Student Details</h1><br>
        <h1 (click)="openEdetails()"><img src="/assets/eSearch.png" align="middle" style="max-width:5%;max-height:10%;cursor:pointer; ">&nbsp; Employee Details</h1><br>
        <h1 (click)="openElogin()"><img src="/assets/elogin.png" align="middle" style="max-width:8%;max-height:15%;cursor:pointer; ">&nbsp; Employee Login</h1><br>  
        <h1 (click)="openProducts()"><img src="/assets/shop.png" align="middle" style="max-width:5%;max-height:30%;cursor:pointer; ">&nbsp; Shop Products</h1><br>            


  </div>
 
   
    
    <br><br><br><br>

</div>